@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap");

:root {
  --color-neutral-900: #062630;
  --color-neutral-700: #385189;
  --color-neutral-200: #e6e1df;
  --color-neutral-100: #faf5f3;
  --color-neutral-0: #fff;
  --color-salmon-500: #fea36f;
  --color-salmon-100: #ffe2d1;
  --color-salmon-50: #fff5ef;
  --gradient-text: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient-bg: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
  --font-family-1: "Inter";
  --font-family-2: "Martian Mono";
  --font-size-1: 3.875rem;
  --font-size-1-m: 2.375rem;
  --font-size-2: 3.125rem;
  --font-size-2-m: 2.125rem;
  --font-size-3: 2.125rem;
  --font-size-3-m: 1.5rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.125rem;
  --font-size-6-m: 1rem;
  --font-size-7: 0.875rem;
  --font-weight-1: 700;
  --font-weight-2: 600;
  --font-weight-3: 400;
  --line-height-1: 140%;
  --line-height-2: 130%;
  --line-height-3: 120%;
  --line-height-4: 110%;
  --letter-spacing-1: -2px;
  --letter-spacing-2: -1px;
  --letter-spacing-3: -0.5px;
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --border-radius-4: 0.25rem;
  --border-radius-6: 0.375rem;
  --border-radius-8: 0.5rem;
  --border-radius-10: 0.675rem;
  --border-radius-12: 0.75rem;
  --border-radius-16: 1rem;
  --border-radius-20: 1.25rem;
  --border-radius-24: 1.5rem;
  --border-radius-full: 50%;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--color-neutral-0);
}

.limit {
  padding: var(--spacing-400) var(--spacing-250);
}

.hero__header--bg {
  background-image: url("../assets/pattern-light-bg.svg");
}

.header__box {
  margin-bottom: var(--spacing-600);
}

.hero__box {
  display: grid;
  grid-template-columns: 1fr;
}

.hero__title {
  font-size: var(--font-size-1-m);
  font-family: var(--font-family-2);
  font-weight: var(--font-weight-1);
  background-image: var(--gradient-text);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-3);
  background-clip: text;
  color: transparent;
  margin-bottom: var(--spacing-300);
}

.hero__description,
.charac__description {
  font-size: var(--font-size-5);
  font-family: var(--font-family-1);
  font-weight: var(--font-weight-3);
  color: var(--color-neutral-700);
  letter-spacing: var(--letter-spacing-3);
  line-height: var(--line-height-1);
}

.hero__description {
  margin-bottom: var(--spacing-400);
}

.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
  text-transform: uppercase;
  font-size: var(--font-size-6-m);
  font-family: var(--font-family-2);
  font-weight: var(--font-weight-2);
  color: var(--color-neutral-900);
  letter-spacing: var(--letter-spacing-2);
  line-height: var(--line-height-2);
  margin-bottom: var(--spacing-200);
  background-color: var(--color-salmon-50);
  border: 2px solid var(--color-neutral-900);
  padding: var(--spacing-200);
  border-radius: var(--border-radius-8);
}

.hero__link::after {
  content: url("../assets/icon-arrow-down.svg");
}

.people__box,
.stars__box {
  display: flex;
}

.people__box {
  gap: var(--spacing-100);
  align-items: center;
  margin-bottom: var(--spacing-800);
}

.stars__box {
  width: 120px;
  height: 24px;
  margin-bottom: var(--spacing-100);
}

.people__image {
  width: 110px;
  height: 40px;
}

.people__description {
  font-size: var(--font-size-7);
  font-family: var(--font-family-2);
  font-weight: var(--font-weight-3);
  color: var(--color-neutral-700);
  letter-spacing: var(--letter-spacing-2);
  line-height: var(--line-height-3);
}

.hero__image img {
  border-radius: var(--border-radius-8);
  margin-bottom: var(--spacing-800);
}

.characteristics__box {
  margin-top: var(--spacing-800);
  margin-bottom: var(--spacing-800);
}

.section__title {
  font-size: var(--font-size-2-m);
  font-family: var(--font-family-2);
  font-weight: var(--font-weight-2);
  color: var(--color-neutral-900);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-2);
  margin-bottom: var(--spacing-300);
  position: relative;
}

.word__decoration::after {
  content: url("../assets/pattern-circle.png");
  width: 46px;
  height: 108px;
  position: absolute;
  left: -10px;
  bottom: -50px;
}

.checkbox__box {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  margin-bottom: var(--spacing-200);
}

.charac__content {
  margin-bottom: var(--spacing-500);
}

.charac__image--one img,
.charac__image--two img {
  border-radius: var(--border-radius-12);
}

.charac__image--one img {
  margin-bottom: var(--spacing-500);
}

.accent {
  font-weight: var(--font-weight-1);
}

.step__section--bg {
  background-image: url("../assets/pattern-light-bg.svg");
  border-radius: var(--border-radius-12);
  padding: var(--spacing-600) var(--spacing-200);
}

.step__number,
.step__content {
  font-size: var(--font-size-6-m);
  font-family: var(--font-family-2);
  font-weight: var(--font-weight-2);
  color: var(--color-neutral-900);
  letter-spacing: var(--letter-spacing-2);
  line-height: var(--line-height-2);
}

.step__number {
  margin-bottom: var(--spacing-200);
  padding: var(--spacing-100) var(--spacing-150);
  border: 2px solid var(--color-neutral-900);
  border-radius: var(--border-radius-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.steps__box:not(:last-child){
    margin-bottom: var(--spacing-400);
}